<p>{{signedIn}}</p>

{{#each posts as |post|}}

	<article class="p-4">
		<h2 class="text-xl">{{post.postTitle}}</h2>
		<section>
			{{post.postDate}} by {{post.user.displayName}}
		</section>
		<section>
			{{post.post}}
		</section>
	</article>

{{/each}}